.button-back{
    border: 0;
    padding: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0s;
    color: #760428;
    font-size: 13px;
    min-height: 32px;
    line-height: 32px;
    min-width: 88px;
    margin: 6px 8px;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    outline: none;
    background: none;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.button-active{
    border: 0;
    padding: 0;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0s;
    box-shadow: 0 1px 5px rgba(0,0,0,.2),0 2px 2px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: #fff;
    background-color: #760428;
    font-size: 13px;
    min-height: 36px;
    line-height: 32px;
    min-width: 88px;
    margin: 6px 8px;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}